*{
    padding:0px;
    margin: 0px;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.clock{
    background:url('png-transparent-clock-face-measu.png');
    height:400px;
    width:400px;
    background-size: cover;
    background-position: center;
    margin-top: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.hands{
    background:#000;
    position:absolute;
    top: 50%;
    transform-origin: 0% 0%;
    border-radius: 0px 0px 10px 10px;
}

#seconds{
    height:115px;
    width:4px;
    transform: rotate(180);
    top: 50%;
}

#minutes{
    height:175px;
    width:6px;
    transform: rotate(180);
}

#hour{
    height:135px;
    width:6px;
    transform: rotate(180);
}

.clock:before{
    content:'';
    height: 18px;
    width:18px;
    position: absolute;
    background: #000;
    border-radius:50%;
    top:47%;
    left:47.7%;
}